html {
  scroll-behavior: smooth;
}

body {
  scroll-behavior: smooth;
  transition: 0.3s;
}

.body {
  background-color: rgb(12, 12, 29);
  color: white;
  padding: 2rem;
}

img {
  width: 250px;
  height: 250px;
  border-radius: 5px;
  transition: 0.3s;
}

button {
  cursor: pointer;
}

::selection {
  color: whitesmoke;
  background: rgb(105, 26, 26);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: whitesmoke;
  padding: 1rem;
  position: sticky;
  top: 0;
}

.home__title {
  color: rgb(12, 12, 29);
  text-decoration: none;
  font-weight: 700;
}

.home__links {
  display: flex;
  align-items: center;
  font-weight: 600;
}

.home__link {
  color: rgb(12, 12, 29);
  margin-right: 1rem;
  text-decoration: none;
}

.home__cart {
  color: rgb(12, 12, 29);
  margin-right: 1rem;
  text-decoration: none;
  border-radius: 9999em;
  border: 2px solid rgb(12, 12, 29);
  padding: 0.5rem;
}

.icon {
  font-size: 18px;
}

/* Loader */
.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
}
.loader {
  color: #0c0c1d;
  font-size: 11px;
  text-indent: -99999em;
  margin: 55px auto;
  position: relative;
  width: 10em;
  height: 10em;
  box-shadow: inset 0 0 0 1em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.loader:before,
.loader:after {
  position: absolute;
  content: "";
}
.loader:before {
  width: 5.2em;
  height: 10.2em;
  background: #0c0c1d;
  border-radius: 10.2em 0 0 10.2em;
  top: -0.1em;
  left: -0.1em;
  -webkit-transform-origin: 5.1em 5.1em;
  transform-origin: 5.1em 5.1em;
  -webkit-animation: load2 2s infinite ease 1.5s;
  animation: load2 2s infinite ease 1.5s;
}
.loader:after {
  width: 5.2em;
  height: 10.2em;
  background: #0c0c1d;
  border-radius: 0 10.2em 10.2em 0;
  top: -0.1em;
  left: 4.9em;
  -webkit-transform-origin: 0.1em 5.1em;
  transform-origin: 0.1em 5.1em;
  -webkit-animation: load2 2s infinite ease;
  animation: load2 2s infinite ease;
}
@-webkit-keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* Products */
.products {
  display: flex;
  flex-wrap: wrap;
  padding: 0.5rem;
}

.product__card {
  padding: 1rem 0.5rem;
  margin-bottom: 2rem;
  display: flex;
  width: 100%;
  /* padding: .5rem; */
  flex: 1 16%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  transition: 0.5s ease;
}

.product__name {
  font-size: 15px;
}

.product__img img {
  width: 100%;
}

.product__description,
.product__price {
  font-weight: bold;
  /* margin-top: auto; */
}

.product__btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* product__btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
} */

/* Category */
.categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: whitesmoke;
  /* padding: 2rem; */
  margin: 3rem 0;
  border-radius: 5px;
}

.category__title {
  color: rgb(12, 12, 29);
  font-size: 30px;
  text-align: center;
}

.category {
  width: 40%;
  padding: 1rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.category__img {
  width: 100%;
  height: 150px;
  margin-bottom: 0;
  border-radius: 5px 5px 0 5px;
}

.category__name {
  color: rgb(12, 12, 29);
}

.category__btn {
  width: 100%;
  /* margin: auto; */
  padding: 0.5rem;
  color: whitesmoke;
  background: rgb(12, 12, 29);
  border: none;
  border-radius: 0 0 5px 5px;
  font-weight: 700;
  font-size: 15px;
}

.add__cart {
  background-color: rgb(14, 112, 14);
  color: whitesmoke;
  font-weight: 600;
  margin-top: 1rem;
  padding: 0.8rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 1rem;
}

.more__cart {
  background-color: rgb(80, 73, 73);
  color: whitesmoke;
  font-weight: 600;
  margin-top: 1rem;
  padding: 0.8rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 1rem;
}

.remove__cart {
  background-color: rgb(105, 26, 26);
  color: whitesmoke;
  font-weight: 600;
  margin-top: 1rem;
  padding: 0.8rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 1rem;
}

.cart__items {
  text-align: center;
}

.cart__quantity {
  width: 60px;
  height: 38px;
  text-align: center;
}

.cart__remove {
  background: rgb(105, 26, 26);
  padding: 0.6rem;
  border: none;
  color: whitesmoke;
  font-size: 20px;
  font-weight: 600;
  border-radius: 5px;
}

.cart__header-remove {
  background: rgb(105, 26, 26);
  padding: 0.6rem;
  border: none;
  color: whitesmoke;
  font-size: 15px;
  font-weight: bold;
  border-radius: 5px;
}

.cart__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.6rem;
}

.empty__cart {
  text-align: center;
  padding: 2rem;
}

.empty__cart-link {
  color: whitesmoke;
  font-weight: 600;
  text-decoration: none;
  margin-bottom: 2rem;
}

.modal__overlay {
  background-color: rgba(0, 0, 0, 0.5);
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 2;
}

.modal__card {
  background-color: whitesmoke;
  border-radius: 5px;
  top: 2rem;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 2rem;
  position: fixed;
  max-width: 90vw;
  margin: auto;
  z-index: 2;
  transition: 0.5s ease;
  max-height: 80vh;
  overflow-y: auto;
  transition: all 0.5s ease;
}

.modal-header {
  text-transform: uppercase;
  font-size: medium;
  color: rgb(12, 12, 29);
}

.modal__description {
  color: rgb(12, 12, 29);
}

.modal__price {
  padding-left: 0.3rem;
}

.modal__text {
  color: rgb(12, 12, 29);
  font-weight: 500;
}

.modal__main-img {
  width: 80%;
  margin: auto;
}

.related__products {
  display: flex;
  align-items: center;
}

.modal__rel-img {
  width: 45px;
  height: 45px;
  padding-right: 0.5rem;
}

.modal__rel-btn {
  color: whitesmoke;
  background: rgb(12, 12, 29);
  padding: 0.6rem;
  border: none;
  border-radius: 5px;
  margin-top: 1rem;
  font-weight: 700;
}

.delete__item-name {
  color: rgb(105, 26, 26);
  font-weight: 700;
}

.delete__item-img {
  width: 100%;
}

@media (max-width: 990px) {
  header {
    padding: 0.2rem;
  }

  .body {
    padding: 0;
    /* color: rgb(12, 12, 29);
    background-color: none; */
  }

  img {
    width: 70%;
    height: 250px;
    border-radius: 5px;
  }

  .product__card {
    flex: 2 35%;
    background-color: transparent;
    padding: 0;
    margin-bottom: 3rem;
  }

  .products .product__card:first-child,
  .products .product__card:nth-child(2) {
    flex: 2 46%;
  }
  
  .product__info {
    background-color: whitesmoke;
    padding: 0.2rem;
    border: none;
    border-radius: 0 0 8px 8px;
    width: 92%;
    text-align: center;
  }

  .product__name {
    background-color: whitesmoke;
    color: rgb(12, 12, 29);
    padding: 0.3rem;
    width: 92%;
    margin: 0;
    text-align: center;
    border-radius: 8px 8px 0 0;
    font-size: 20px;
  }

  .product__img {
    border-radius: 0;
    width: 93%
  }

  .product__description,
  .product__price {
    color: rgb(12, 12, 29);
    padding: 0;
  }

  .categories {
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    /* width: 100%; */
    margin: auto;
    /* padding: 0.3rem; */
    background-color: transparent;
  }

  .category {
    width: 90%;
    padding: 1rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .category__img {
    /* width: 80%; */
    height: 150px;
    margin-bottom: 0;
    border-radius: 5px 5px 0 0;
  }

  .category__btn {
    /* width: 80%; */
    background: whitesmoke;
    color: rgb(12, 12, 29);
    font-weight: 700;
    font-size: 15px;
  }

  .modal__main-img {
    width: 300px;
  }
}

@media (max-width: 720px) {
  .product__card {
    flex: 2 60%;
  }

  .products .product__card:first-child,
  .products .product__card:nth-child(2) {
    flex: 2 60%;
  }

  .product__info {
    width: 98%;
  }

  .product__name {
    width: 97%;
  }

  .product__img {
    border-radius: 0;
    width: 100%
  }

  img {
    width: 100%;
  }

  .modal__card {
    width: 80vw;
    padding: 1rem;
  }

  .modal__main-img {
    width: 250px;
  }

  .delete__item-img {
    width: 250px;
  }
}
